
html,
body {
  padding: 0;
  margin: 0;
  font-family: "GT-Maru", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'GT-Maru';
  src: url('../assets/GT-Maru/GT-Maru-Light-Trial.otf');
  src: url('../assets/GT-Maru/GT-Maru-Medium-Trial.otf');
  src: url('../assets/GT-Maru/GT-Maru-Bold-Trial.otf');
  src: url('../assets/GT-Maru/GT-Maru-Regular-Trial.otf');
  font-weight: 400;
  font-style: normal;
}
textarea {   /* for all text* area elements */
  resize: none;
  width: 100%;
  height: 150px;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  border-top: 1px solid #7A4323;
  border-bottom: 1px solid #7A4323;
  line-height: 25px;
  font-family: 'GT-Maru';
  padding: 24px;
  background-color: transparent;
}
