.branding .title {
  font-family: 'GT-Maru';
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 82px;
  margin-top: 0px;

  /* Black/Important */

  color: #241F1C;

  margin-bottom: 4px;
}

.branding {
  cursor: pointer;
}
.branding .subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
/* identical to box height */


/* Black/Medium */
color: #392E26;
  margin-top: 0px;

}

.branding {
  padding-left: 64px;
  padding-top: 64px;
}

.step {
  background: #FBF8E8;
  border-radius: 32px;
  margin-left: 64px;
  padding: 32px;
  width: calc(50vw - 32px);
  max-height: 545px;
  overflow: scroll;
}

.information {
  margin-top: 0px;
  padding-top: 0px;
}

.stepBreadCrumb {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;

  /* Brown */

  color: #7A4323;

}
.stepHeading {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #241F1C
}

.stepParagraph {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;

  /* Black/Unimportant */

  color: #6C635B;

}
.vaseTitle {
  margin-top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */
  margin-bottom: 0px;
  /* White/Important */
  color: rgba(251, 248, 232, 0.87);
}

.vaseSubtext {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-top: 0px;
  /* White/Medium */
  color: rgba(251, 248, 232, 0.6);

}

.vaseItem {
  cursor: pointer;
  padding: 12px; 
  background-color: #7A4323;
  border-radius: 12px;
  width: calc(((50vw - 32px)/3) - 36px);
  margin-left: 16px;
  height: 100%;
}


.vaseList {
  margin-left: -16px;
  display: flex;
  justify-content: space-between;
}
.vaseImage {
  background-color: #FBF8E8;
  width: 100%;
  height: 11vw;
  margin-bottom: 0px;
  border-radius: 8px;
  margin-top: 0px;
  padding: 8px;
}

.vaseImageSelected {
  background-color: #FFEF9C;
  width: 100%;
  height: 11vw;
  margin-bottom: 0px;
  border-radius: 8px;
  margin-top: 0px;
  padding: 8px;  
}

.preview {
  overflow: hidden;
  width: 100%;
  margin-right: 64px;
  margin-left: 32px;
  margin-top: 64px;
  margin-bottom: 64px;
  border-radius: 32px;

  background-color: #7A4323;
  height: calc(100vh - 128px);
}

.main {
  display: flex;
  max-height: 100%;
}

.selectedLabel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
/* identical to box height */
  padding: 8px;
  width: fit-content;
  border-radius: 300px;

/* Brown */
  color: #7A4323;
  background-color: #7a43233e;
  margin: 0px;
}

.Button {
	background-color: #FFEF9C;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
  color: #7A4323;
	outline: inherit;
  width: calc((50vw - 32px)/2 - 16px);
  border-radius: 16px;
}
.ButtonOff {
  opacity: 0.36;
	background-color: #FFEF9C;
	color: inherit;
	border: none;
	font: inherit;
  color: #7A4323;
	cursor: pointer;
	outline: inherit;
  width: calc((50vw - 32px)/2 - 16px);
  border-radius: 16px;
}

.ButtonComplete {
	background-color: #7A4323;
	color: inherit;
	border: none;
	font: inherit;
  color: #FFEF9C;
	cursor: pointer;
	outline: inherit;
  width: calc((50vw - 32px)/2 - 16px);
  border-radius: 16px;
}

.navigation {
  margin-top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  height: 60px;
  margin-bottom: 32px;
  margin-left: 64px;
  justify-content: space-between;;
}

.flowerLabel {
  font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
width: 0px;
margin-top: 8px;
margin-bottom: 4px;

/* identical to box height */


/* Black/Medium */

color: #392E26;

}

.tooltipSelected {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltipSelected .tooltiptextSelected {
  visibility: hidden;
  width: 120px;
  background-color: #7A4323;
  color: #FBF8E8;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  text-decoration: underline;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -64px; 
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipSelected:hover .tooltiptextSelected {
  visibility: visible;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #7A4323;
  color: #FBF8E8;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -64px; 
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.flowerThumbnail {
  cursor: pointer;
  background-color: #7A4323;
  height: 68px;
  width: 68px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 16px;
  overflow: hidden;
  cursor: pointer
}
.flowerThumbnailSelected {
  cursor: pointer;
  background-color: #BA9E86;
  height: 68px;
  width: 68px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 16px;
  overflow: hidden;
}


.entireFlower {
  display: inline-block;
  margin-top: 0px;
  
  height: fit-content;
}

.checkbox:focus
{
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

.checkbox
{
    background-color: #BA9E86;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

.checkbox:checked
{
    background-color: #7A4323;
    background: #7A4323 url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;

}

.checkLabel {
  color: #7A4323;
  margin-left: 8px;
}

.inputLabel {
  font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
width: 24px;
height: 73px;  
padding-left: 24px;
/* Black/Important */
height: 74px;
color: #241F1C;
background-color: #FBF8E8;
}

.entirenote {
  border-radius: 12px;
  border: 1px solid #7A4323;
  margin-top: 24px;
}

.ToInput {
  resize: none;
  width: calc(100% - 64px);
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  font-family: 'GT-Maru';
  padding: 24px;
  background-color: #FBF8E8;
  border: none;
  border-radius: 12px;
}

.FromInput {
  resize: none;
  width: calc(100% - 98px);
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  font-family: 'GT-Maru';
  padding: 24px;
  background-color: #FBF8E8;
  border: none;
  border-radius: 12px;
}



.linkHolder {
  background: #FFEF9C;
border-radius: 16px;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
word-wrap:break-word;
text-decoration-line: none;

/* Brown */

color: #7A4323;
padding: 24px;
cursor: copy;
}

.link {
  text-decoration: underline;
  word-wrap:break-word;
}

.linkHolder p {
  margin-top: 16px;
  text-decoration: none;
  text-decoration-line: none;

}

.mobileMain {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .main {
    display: none;
  }
  .mobileMain {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
  }
  .brandName {
    font-family: 'GT Maru Trial';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  margin-left: 16px;
  margin-bottom: 16px;
  /* identical to box height */
  /* Black/Important */
  color: #241F1C;
  }
  .mobileStep {
    height: calc(100vh - 192px);
    background: #FBF8E8;
    overflow: scroll;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 16px;
    padding: 16px;
  }

  .mobileStepBreadCrumb {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'GT-Maru';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    /* Brown */

    color: #7A4323;
  }

  .mobileStepHeading {
    font-family: 'GT-Maru';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 46px;
    margin-top: 0px;
    margin-bottom: 16px;
    /* identical to box height */


    /* Black/Important */

    color: #241F1C;

  }

  .mobileDescription {
    font-family: 'GT Maru Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    /* Black/Unimportant */

    color: #6C635B;
  }
  .Button {
    background-color: #FFEF9C;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    font-size: 14px;
    color: #7A4323;
    outline: inherit;
    width: calc(50% - 48px);
    border-radius: 16px;
  }
  .ButtonOff {
    opacity: 0.36;
    background-color: #FFEF9C;
    color: inherit;
    border: none;
    font: inherit;
    color: #7A4323;
    cursor: pointer;
    outline: inherit;
    width: calc(50% - 48px);
    border-radius: 16px;
  }
  
  .ButtonComplete {
    background-color: #7A4323;
    color: inherit;
    border: none;
    font: inherit;
    color: #FFEF9C;
    cursor: pointer;
    outline: inherit;
    width: calc(50% - 48px);
    border-radius: 16px;
  }

  .ButtonPreview {
    background-color: #FFEF9C;
    color: inherit;
    border: none;
    font: inherit;
    color: #FFEF9C;
    cursor: pointer;
    outline: inherit;
    width: 64px;
    border-radius: 16px;    
  }
  .ButtonPreviewB {
    background-color: #7A4323;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 64px;
    border-radius: 16px;    
  }
  
  .navigation {
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    display: flex;
    height: 60px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: space-between;;
  }
  .buttonText {
    font-size: 16px;
  }

  .mobilePreview {
    height: calc(100vh - 192px);
    background: #7A4323;
    overflow: scroll;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 16px;
    
  }

  .vaseItemMobile {
    height: 100%;
    background-color: #7A4323;
    border-radius: 12px;
    display: inline-block;
    padding: 12px;
    margin-bottom: 16px;
  }
  .mobileVaseListContainer {
  
    flex-direction: row;
    overflow: scroll;
  }
  .vaseImageMobile {
    background-color: #FBF8E8;
    border-radius: 8px;
  
  }
  .vaseImageMobileSelected {
    background-color: #FFEF9C;
    border-radius: 8px;
  }

  .vaseTitleMobile {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

/* Yellow/Light */
    margin-top: 12px;
    margin-bottom: 12px;
    color: #FBF8E8;

  }
  .flowerMobile {
    height: 64px;
    display: inline-block;
    width: 64px;
    background-color: #7A4323;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 12px;
  }
  .flowerMobileSelected {
    height: 64px;
    display: inline-block;
    width: 64px;
    background-color: #BA9E86;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 12px;
  }
}