.container {
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh; */
}
.main {

}

.title {
    position: absolute;
    width: 100vw;
    text-align: center;
    font-family: 'GT-Maru';
}

.botText {
    width: 100vw;
    bottom: 0;
    position: absolute;
    text-align: center;
    font-family: 'GT-Maru';
}

.letterImg {
    position: fixed;
    position: absolute;
    left: 20vw;
    top: 20vh;
}


.card {
    background-color: #FFDADA;
    transform: rotate(-12deg);
    margin-left: 16px;
    margin-right: 16px;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardpreview {
    background-color: #FFDADA;
    transform: rotate(-8deg);
    margin-left: -128px;
    margin-top: 64px;
    padding: 16px;
    margin-right: 16px;
    height: 75vh;
    width: 45vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card p {
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
margin-left: 32px;

}

.cardpreview p {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-left: 32px;
    
    }
.cardClose {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 58px;
    margin-left: 32px;    
}

.leftpanel {
    width: 50vw;
    display: block;
}

.rightpanel {
    width: 50vw;
    border-left: 1px solid #7A4323;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}