
.container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.main {

}
.Button {
    position: absolute;
	background-color: #FFEF9C;
	color: inherit;
	border: none;
    margin: 1vw;
	font: inherit;
	cursor: pointer;
    color: #7A4323;
	outline: inherit;
  width: 10vw;
  height: 5vh;
  border-radius: 16px;
  z-index: 1000;
}

.title {
    position: absolute;
    width: 100vw;
    text-align: center;
    font-family: 'GT-Maru';
    z-index: 200;
}

.soundText {
    position: absolute;
    right: 2vw;
    bottom: 0vw;
}

.botText {
    width: 100vw;
    bottom: 0;
    position: absolute;
    text-align: center;
    font-family: 'GT-Maru';
}

.letterImg {
    user-select: none;
    position:absolute;
    width: 10vw;
    left: 25vw;
    top: 40vh;
}


.card {

    background-color: #FBF8E8;
    transform: rotate(-12deg);
    margin-left: 16px;
    margin-right: 16px;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardpreview {
    background-color: #FFDADA;
    transform: rotate(-8deg);
    margin-left: -128px;
    margin-top: 64px;
    padding: 16px;
    margin-right: 16px;
    height: 75vh;
    width: 45vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card p {
    margin-top: 10vh;

font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
margin-left: 32px;

}

.cardpreview p {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-left: 32px;
    
    }
.cardClose {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 58px;
    margin-left: 32px;    
}

.leftpanel {
    width: 50vw;
    display: block;
}

.rightpanel {
    width: 50%;
    height: 100%;
    margin-left: 51%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textWrap {
    width: calc(80vh * 0.65);
    height:auto;
    word-wrap: break-word;
    word-break: break-all;
}
.box {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
.boxMain {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxAnim {
    width: 30vw;
}

.argmt {
    /* position:absolute; */
    width: 100vw;
    height: 100vh;
}
.noDisplay {
    display: none;
    width: 100vw;
    height: 100vh;
}
.confetti {
    position:absolute;
    width: 1vw;
    height: 1vh;
    left: 50vw;
    top: 50vh;
    z-index: 5;
}

.cardImg {
    background-image: url("../public/card.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: calc(90vh * 1.44);
    transform: rotate(-5deg);

}
.centered {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.previewLetter {
    background-image: url("../public/card.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: calc(90vh * 1.44);
    transform: scale(0.9) rotate(-5deg);
    margin-left: -70vw;
  }